/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
:root {
  --theme-color: #5275c7;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

span{
  color: var(--theme-color);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

body {
  background: #222;
}

section {
  padding: 2rem 9%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .logo {
  font-weight: bolder;
  color: #fff;
  font-size: 2.5rem;
}

.header .logo span {
  color: var(--theme-color);
}

.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin-left: 2rem;
}

.header .navbar a:hover {
  color: var(--theme-color);
}

#menu-bars {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.home .content {
  text-align: center;
  padding-top: 6rem;
  margin: 2rem auto;
  max-width: 70rem;
}

.home .content h3 {
  color: #fff;
  font-size: 4.5rem;
  text-transform: uppercase;
}

.home .content h3 span {
  color: var(--theme-color);
  text-transform: uppercase;
}

.home .row{
  font-size: 2rem;
}


.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 3.5rem;
  border-radius: 0.5rem;
  background: var(--theme-color);
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover {
  background: var(--theme-color);
}

@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.flicker {
  animation: flicker 3s infinite;
}




.home .home-slider .swiper-slide {
  overflow: hidden;
  border-radius: 0.5rem;
  height: 50rem;
  width: 35rem;
}

.home .home-slider .swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 4rem;
}

.heading span {
  color: var(--theme-color);
  text-transform: uppercase;
}

.event .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 2fr));
  gap: 1.8rem;
}

.nevent .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.8rem;
}

.event .box-container .box {
  border-radius: 0.5rem;
  background: #333;
  text-align: center;
  padding: 2.5rem;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

.nevent .box-container .box{
  border-radius: 0.5rem;
  background: #333;
  text-align: center;
  padding: 2.5rem;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

.event .box-container .box:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
}

.nevent .box-container .box:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
}

.event .box-container .box h3 {
  font-size: 3rem;
  padding: 1rem 0;
}

.nevent .box-container .box h3 {
  font-size: 3rem;
  padding: 1rem 0;
}

.event .box-container .box p {
  color: #eee;
  text-align: justify;
  line-height: 1.8;
  font-size: 1.4rem;
}

.nevent .box-container .box p {
  font-size: 1.4rem;
  color: #eee;
  text-align: justify;
  line-height: 1.8;
}

.event .box-container .box img{
  width: 250px;
  height: 200px;
  border-radius: 10px;
  margin-top: 10px;
  justify-content: center;
}

.nevent .box-container .box img{
  width: 250px;
  height: 200px;
  border-radius: 10px;
  margin-top: 10px;
  justify-content: center;
}
.about .row .image video {
  /* Position the video element absolutely within its container */
 top: 0;
 left: 0;
 width: 650px; /* Set the video width to 100% of the container */
 height: 100%; /* Set the video height to 100% of the container */
 object-fit: cover; /* Maintain aspect ratio while covering the container */
 border-radius: 5px;
}
@media (min-width: 600px) {
  .event .box-container {
    justify-content: space-between;
  }
  .event .box:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }
  .event .box-container .box p {
    font-size: 2rem;
    color: #eee;
    text-align: justify;
    line-height: 1.8;
  }
  .nevent .box-container .box p {
    font-size: 2rem;
    color: #eee;
    text-align: justify;
    line-height: 1.8;
  }
}
.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .row .image {
  flex: 1 1 45rem;
  padding: 1rem;
  position: relative;
}

.about .row .image video {
   /* Position the video element absolutely within its container */
  top: 0;
  left: 0;
  width: 100%; /* Set the video width to 100% of the container */
  height: 100%; /* Set the video height to 100% of the container */
  object-fit: cover; /* Maintain aspect ratio while covering the container */
}


.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content h3 {
  font-size: 3.5rem;
  color: #fff;
}

.about .row .content p {
  font-size: 1.8rem;
  color: #eee;
  padding: 1rem 0;
  line-height: 2;
}

.location .content h1{
  font-size: 2.5rem;
  color: #fff;
}

.location .content p{
  font-size: 1.5rem;
  color: #eee;
  padding: 1rem 0;
  line-height: 2;
}

.footer {
  background: #111;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.0rem;
  justify-content: center;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  padding: 1rem 0;
  color: #fff;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 0;
  color: #eee;
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--theme-color);
}

.footer .box-container .box a:hover i {
  padding-right: 1.5rem;
  color: #fff;
}

.footer .credit {
  text-align: center;
  border-top: 0.1rem solid #222;
  color: #fff;
  padding: 2rem;
  padding-top: 2.5rem;
  margin-top: 1rem;
  font-size: 2rem;
}

.footer .credit span {
  color: var(--theme-color);
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #444;
}

html::-webkit-scrollbar-thumb {
  background: var(--theme-color);
  border-radius: 5rem;
}


.theme-toggler {
  position: fixed;
  top: 10rem;
  right: -20rem;
  background: #333;
  z-index: 1000;
  width: 20rem;
  text-align: center;
}

.theme-toggler.active {
  right: 0;
}

.theme-toggler h3 {
  color: #fff;
  padding: 1rem 0;
  font-size: 2rem;
}

.theme-toggler .buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.theme-toggler .buttons .theme-btn {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  cursor: pointer;
}

.theme-toggler .toggle-btn {
  position: absolute;
  top: 0;
  left: -5.9rem;
  padding: 1.3rem 1.5rem;
  background: #333;
  cursor: pointer;
}

.theme-toggler .toggle-btn i {
  color: #fff;
  font-size: 3rem;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bars {
    display: initial;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid #222;
    background: #333;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .fa-times {
    transform: rotate(180deg);
  }

  .header .navbar a {
    display: flex;
    background: #222;
    border-radius: 0.5rem;
    padding: 1.3rem;
    margin: 1.3rem;
    font-size: 2rem;
  }

  .home .content h3 {
    font-size: 4rem;
  }

  iframe{
    width: min-content;
  }

  .home .image{
    width: 100%;
  }

  .event .box-container .box p {
    font-size: 2rem;
    color: #eee;
    text-align: justify;
    line-height: 1.8;
  }
  .nevent .box-container .box p {
    font-size: 2rem;
    color: #eee;
    text-align: justify;
    line-height: 1.8;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .home-slider .swiper-slide {
    width: 27rem;
  }

  .contact form .inputBox input {
    width: 100%;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }
  
}



.location{
  background-color: #333;
  width: fit-content;
  border-radius: 0.5rem;
  margin-bottom: 10px;
  justify-content: center;
}


.location_container{
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
}


iframe{
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 0.5rem;
}

.home {
  position: relative;
  width: 100vw; /* Set the width to the width of the viewport */
  height: 75vh; /* Set the height to the height of the viewport */
  display: flex; /* Use flexbox to align items */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  background-image: url(./images/cover.jpg);
  margin-top: 60px;
  background-repeat: no-repeat;
  background-size:cover;
}
/* Countdown Timer Section */
.countdown-section {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px; /* Adjust margin as needed */
  justify-content: center;
  align-items: center;
  color: #eee;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 15px; /* Adjust margin between time elements */
}

.time h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  margin: 0;
  background: linear-gradient(to right,#ff5733, #e61a67); 
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.time small {
  font-size: 20px;
}

/* Media query for smaller screens */
@media (max-width: 500px) {
  .countdown-section {
    margin-bottom: 10px; /* Adjust margin for smaller screens */
  }

  .time {
    margin: 0 5px; /* Adjust margin for smaller screens */
  }

  .time h2 {
    font-size: 48px; /* Adjust font size for smaller screens */
  }

  .time small {
    font-size: 18px; /* Adjust font size for smaller screens */
  }

  .home .image{
    max-width: 10%;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }
  .home {
    position: relative;
    width: 100vw; /* Set the width to the width of the viewport */
    height: 28vh; /* Set the height to the height of the viewport */
    display: flex; /* Use flexbox to align items */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    background-image: url(./images/cover.jpg);
    background-repeat: no-repeat;
    background-size:contain;
  }
  

}
